<style>
#center {
  border-radius: 25px;
  background: lightgray;
  padding: 10px; 
  width: 600px; 
  margin: auto; 
}
</style>
<header class="pb-3 mb-4 border-bottom"> </header>
<h1 style="text-align:center;">New Item</h1>

<div id="center">
  <div class="container-sm" >
    <%= render 'form', item: @item %>
    <%= link_to 'Back', items_path, class: "btn btn-secondary", style:"color:white"  %>
  </div>
</div>

<footer class="pb-3 mb-4 border-bottom"> </footer>